{% extends "main/layout.html" %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt5">
    <h3 class="text-left">Вход</h3>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    
        {% if form.non_field_errors %}
            <div class="error-container">
                {% for error in form.non_field_errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

    </form>
</div>
{% endblock %}
