{% extends "films/layout.html" %}
{% load static %}

{% block title %}Фильмы{% endblock %}

{% block content %}
<h2>Список фильмов</h2>

{% if films %}
    {% for film in films %}
    <div class="row " >
        <div class="col-2">
            {% if film.image %}
            <img src="{{ film.image.url }}"  width="180px" height="180px" >
            {% else %}
            <img src=""  width="180px" height="180px" >
            {% endif %}
        </div>
        <div class="col-8">
            <h5> {{ film.title }} </h5>
            <p>{{ film.description|safe }}
            <br><a href="{% url 'film_detail' film.id %}" >Подробнее</a>
            </p>
        </div>
    </div>
    <div class="row " >
        <div class="col-10">
            <hr>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
